@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #fffffd;
}

h1 {
  text-align: center;
}

#form{
  text-align: center;
  margin-left: 30vw;
  margin-right: 30vw;
}

ul{
  margin-left: 30vw;
}

